.titre-accueil{
    display: flex;
    justify-content:center;
}
.présentation{
    display: flex;
    flex-direction: column;
}

.swiper-container {
    display:flex;
    align-content:b;
    height:100%;
    width: auto;
    max-width: 1600px;
    margin: 0 auto;
    padding-bottom:30px;
    background-color: transparent;
    overflow: hidden;
}

.swiper-slide {
    display: flex; /* Active Flexbox */
    flex-direction: column; /* Empile les enfants verticalement */
    justify-content: flex-end; /* Aligne tout en bas */
    align-items: center; /* Centre horizontalement */
    text-align: center; /* Centre le texte */

    height: 100%; /* Hauteur complète des slides */
    width: 500px; /* Largeur définie */
    margin-top: 30px;

    img {
        max-height: 150px; /* Assure une hauteur uniforme pour les logos */
        width:auto;
        object-fit: contain; /* Garde les proportions des images */
        margin-bottom: 10px; /* Espacement entre le logo et le texte */
    }

    p {
        margin: 0; /* Enlève les marges par défaut */
        font-size: 20px;
        line-height: 1.2; /* Améliore la lisibilité */
    }
}
.swiper-button-next,
.swiper-button-prev {
    display: none !important; /* Cache les flèches */
}
.swiper-slide.swiper-slide-active {
    opacity: 1; /* Le slide actif est entièrement visible */
    transform: scale(1); /* Zoom sur le slide actif */
}
.ma_photo{
    display:flex;
    position:relative;
    opacity:0;
    transition:opacity 2s ease;
    justify-content: left;
    align-content: center;
    z-index: 10;
    img{
        position: absolute;
        right:60px;
        top:300px;
        width:200px;
        height:auto;
    }
}
.ma_photo.visible{
    opacity:1; 
}

