.titre-accueil{
    display: flex;
    justify-content:center;
    border-top: 1px solid $accent-color-hover;
}
.présentation{
    display: flex;
    flex-direction: column;
}

.swiper-container {
    display:flex;
    align-content:flex-end;
    height:100%;
    width: 100%;
    max-width: 1600px;
    width:100%;
    margin: 0 auto;
    padding-bottom:30px;
    background-color: transparent;
    overflow: hidden;
}

.swiper-slide {
    display: flex; 
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
    height: 100%;
    width: auto;
    margin-top: 30px;
    img {
        max-height: 120px;
        width:auto;
        object-fit: contain;
        margin-bottom: 10px;
    }

    p {
        margin: 0;
        font-size: 20px;
        line-height: 1.2;
    }
}
.swiper-button-next,
.swiper-button-prev {
    display: none !important;
}
.swiper-slide.swiper-slide-active {
    opacity: 1;
    transform: scale(1.4);
}
.ma_photo{
    display:flex;
    position:relative;
    opacity:0;
    transition:opacity 2s ease;
    justify-content: left;
    align-content: center;
    z-index: 10;
    img{
        position: absolute;
        right:60px;
        top:300px;
        width:200px;
        height:auto;
    }
}
.ma_photo.visible{
    opacity:1; 
}

