header {
    background-color: $background-color;
    color: $text-color;
    padding: 24px;
    text-align: center;

    nav ul {
        list-style: none;
        margin: 0;
        padding: 0;
        font-size: 24px;

        li {
            display: inline-block;
            margin: 0 25px;
        }

        a {
            color: $text-color;
            text-decoration: none;
            display: inline-block;
            transition: transform 0.5s ease, color 0.3s ease;

            &:hover {
                color: $accent-color-hover;
                transform: scale(1.08) translateY(-2px);
            }
        }
    }
}

.site-header {
    margin: 0px 0px 100px 0px;
    max-width: 1440px;
    padding:0;
    width:100%;
    height: 150px;
    display: flex;
    justify-content:space-between;
    align-items: center;

}
.custom-logo {
    max-width: 150px;
    height: auto;
}