.projects-page {
    padding: 0rem;

    h1 {
        text-align: center;
        margin-bottom: 3rem;
    }

    .projects-list {
        display: flex;
        flex-direction: column;
        gap: 3rem; /* Espacement entre les projets */
       
    }

    .project {
        display: flex; /* Aligner l'image et les détails horizontalement */
        gap: 1rem; /* Espacement entre l'image et les détails */
        border: 1px solid #0b0a2f; /* Bordure pour le conteneur */
        border-radius: 8px; /* Coins arrondis */
        padding: 1rem; /* Espacement interne */
        background-color: #06042c; /* Fond sombre */
        color: #e0e0e0; /* Texte clair */
        opacity: 0; /* Caché par défaut */
        transform: translateY(200px); /* Déplacement vers le bas */
        transition: opacity 0.6s ease, transform 1.5s ease, border-color 1.0s ease;; /* Transition fluide */

        &.visible{
            opacity: 1; /* Devient visible */
            transform: translateY(0); /* Remonte à sa position initiale */
        }
        &:hover{
            border-color:$accent-color-hover;
        }

        &-content{
            display:flex;
            align-items: center;
            gap: 2rem;
            @media (max-width: 768px) {
                flex-direction: column;
            }
        }

        .project-image {
           display:flex;
           align-content:center;
            
            img {
                width: 520px; /* Largeur fixe pour l'image */
                height: auto; /* Conserver les proportions */
                border-radius: 8px; /* Coins arrondis */
            }
        }
    

        .project-details {
            display: flex;
            flex-direction: column; /* Empiler les éléments verticalement */
            justify-content: center;
            // flex: 1; /* Occuper tout l'espace disponible à droite */
            gap: 1rem; /* Espacement entre la description et les technologies */

            .project-description {
                
                line-height: 1.5; /* Interligne agréable pour la lecture */
                p{
                    font-size: 1.3rem; /* Taille de police normale */
                    margin:0;
                }
            }

            .technologies {
                h3 {
                    font-size: 1.2rem; /* Taille du titre des technologies */
                    margin-bottom: 0.2rem; /* Espacement sous le titre */
                }

                /* Liste des technologies */
                .technology-list {
                    display: flex; /* Aligner les technologies horizontalement */
                    gap: 1rem; /* Espacement entre les logos */
                    flex-wrap: wrap; /* Retour à la ligne si nécessaire */

                    .technology {
                        display: flex; /* Aligner logo et texte */
                        align-items: center;
                        gap: 0.5rem; /* Espacement entre le logo et le texte */
                        background-color: #292929; /* Fond sombre pour chaque technologie */
                        border-radius: 4px; /* Coins arrondis */
                        padding: 0.5rem; /* Espacement interne */
                        color: #fff; /* Couleur du texte */

                        img.tech-logo {
                            width: 25px; /* Taille du logo */
                            height: auto; /* Conserver les proportions */
                        }

                        span {
                            font-size: 0.8rem; /* Taille de la police */
                        }
                    }
                }
            }
        }
        @media (max-width: 768px) {
            flex-direction: column;
        }
    }
}
.project-title{
    align-self: center;
    max-width: 200px;
    flex: 1 1 100%;

}