.projects-page {
    padding: 0rem;
    border-top: 1px solid $accent-color-hover;

    h1 {
        text-align: center;
    }

    .projects-list {
        display: flex;
        flex-direction: column;
        gap: 3rem;
       
    }

    .project {
        display: flex;
        gap: 1rem;
        border: 1px solid #0b0a2f;
        border-radius: 8px;
        padding: 1rem;
        background-color: #06042c;
        color: #e0e0e0;
        opacity: 0;
        transform: translateY(250px);
        transition: opacity 5s ease, transform 2s ease, border-color 1.0s ease;

        &.visible{
            opacity: 1;
            transform: translateY(0);
        }
        &:hover{
            border-color:$accent-color-hover;
        }

        &-content{
            display:flex;
            align-items: center;
            gap: 2rem;
            
        }

        .project-image {
            display:flex;
            align-content:center;
            img {
                width: 520px;
                height: auto;
                border-radius: 8px;
            }
        }
    

        .project-details {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 1rem;

            .project-description {
                
                line-height: 1.5;
                p{
                    font-size: 1.1rem;
                    margin:0;
                }
            }

            .technologies {
                h3 {
                    font-size: 1.2rem;
                    margin-bottom: 0.2rem;
                }

                /* Liste des technologies */
                .technology-list {
                    display: flex;
                    gap: 1rem;
                    flex-wrap: wrap;

                    .technology {
                        display: flex; /* Aligner logo et texte */
                        align-items: center;
                        gap: 0.5rem; /* Espacement entre le logo et le texte */
                        background-color: #292929;
                        border-radius: 4px;
                        padding: 0.5rem;
                        color: #fff;
                        transition: transform 0.5s ease;

                        img.tech-logo {
                            width: 25px;
                            height: auto;
                        }

                        span {
                            font-size: 0.8rem;
                        }
                        &:hover{
                            transform: scale(1.1);
                        }
                    }
                }
            }
        }
    }
}
.project-title{
    align-self: center;
    max-width: 200px;
    flex: 1 1 100%;

}
@media (max-width: 1200px) {
    .project {
        flex-direction: column;
    }

article h1{
    text-align: center;
}
article h2{
    text-align: center;
    max-width:1200px!important;
    width:100%;
}
.project-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.project-image {
    width: 100%;
    margin-bottom: 20px;

    img {
        width: 100%!important;
        height: auto;
        object-fit: contain;
    }
}
}