// Palette principale
$background-color: #080333; // Couleur de fond principale
$text-color: #EAEAEA;       // Texte principal
$text-secondary: #B3B3B3;   // Texte secondaire (moins important)
$text-hover: #FFFFFF;       // Texte au survol

// Couleurs d'accentuation
$accent-color: #d7d8f7;     // Accent principal (liens, boutons, etc.)
$accent-color-hover:#ececfa ; // Accent au survol
$complementary-color: #03DAC6; // Couleur complémentaire
$error-color: #CF6679;      // Couleur pour les erreurs

// Autres
$border-color: #272727;     // Couleur des bordures