@import 'variables';
@import 'header';
@import 'footer';
@import 'page-réalisations';
@import 'front-page';
@import 'modale';
@import 'loader';

// Styles globaux
body {
    background-color: rgb(2, 0, 22);
    color: $text-color;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 1600px;
    width: 100%;
    background-color: $background-color;
    margin: 0 auto;
    padding: 0;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0e;
    max-width: 1600px;
    width:90%;
}

section {
    margin-bottom:100px;
    padding-left:10px;
    border: 1px solid transparent;
    border-radius: 8px;
    opacity:0;
    transform: translateY(0px);
    transition: 
        opacity 3.0s ease,
        transform 1.0s ease,
        background-color 1.0s ease,
        box-shadow 1.0s ease ,border 1.0s ease;     
}
section.visible {
    opacity: 1;
    transform: translateY(0);
}

section:hover {
    transform: scale(1.07);
    background-color: lighten($background-color, 2%);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    border:1px solid $accent-color-hover;
}
.underline {
    text-decoration: underline;
    text-underline-offset: 4px;
}
// Liens
a {
    color: $accent-color;
    text-decoration: none;
    font-family: "montserrat", sans-serif;

    &:hover {
        color: $text-hover;
    }
}
p {
    margin-left:30px;
    font-size: 22px;
    color: $accent-color;
    text-decoration: none;
    font-family: "lato", sans-serif;

}

// Titres
h1, h2, h3, h4, h5, h6 {
    font-family: "montserrat", sans-serif;
    color: $text-color;
}

h1{
    font-size: 4em;
    margin-bottom:150px;
    text-align: center;
}
h2{
    font-size: 2.5em;
}
h3{
    font-size:1.5em;
    margin-left:30px;
    margin-block-end:0em;
}

.text-secondary {
    color: $text-secondary;
}

.page-title {
    opacity: 0;
    transform: translateY(-200px);
    transition: opacity 1s ease, transform 2s ease;
}

.page-title.animate {
    opacity: 1;
    transform: translateY(0);
}

// Bordures
hr, .border {
    border-color: $border-color;
    border-width: 1px;
    border-style: solid;
}

// Messages d'erreur
.error {
    color: $error-color;
    background-color: lighten($error-color, 20%);
    padding: 10px;
    border-radius: 5px;
}

.swiper-slide img, .competence-icon {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.services{
    display:flex;
    justify-content: space-between;
    align-items:center;
    padding-right:50px;
}

