@import 'variables';
@import 'header';
@import 'footer';
@import 'page-réalisations';
@import 'modale';
@import 'loader';

// Styles globaux
body {
    background-color: rgb(2, 0, 22);
    color: $text-color;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 1600px;
    width: 100%;
    background-color: $background-color;
    margin: 0 auto;
    padding: 0em;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0em;
    max-width: 1440px;
    width:100%;
}

// Liens
a {
    color: $accent-color;
    text-decoration: none;
    font-family: "montserrat", sans-serif;

    &:hover {
        color: $text-hover;
    }
}
p {
    color: $accent-color;
    text-decoration: none;
    font-family: "lato", sans-serif!important;
}

// Titres
h1, h2, h3, h4, h5, h6 {
    font-family: "montserrat", sans-serif;
    color: $text-color;
}

// Texte secondaire (par exemple, dans un pied de page ou une description)
.text-secondary {
    color: $text-secondary;
}

// Bordures
hr, .border {
    border-color: $border-color;
    border-width: 1px;
    border-style: solid;
}

// Messages d'erreur
.error {
    color: $error-color;
    background-color: lighten($error-color, 20%);
    padding: 10px;
    border-radius: 5px;
}